In [23]:
import os
import sys
path_to_this_notebook = os.path.abspath('.')
path_to_project = path_to_this_notebook[:path_to_this_notebook.find('note')]
sys.path.append(path_to_project)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
from src.timedata_util import *

In [16]:
path_to_data = path_to_project + '/data/newyork_price/'

In [17]:
df = pd.read_csv(path_to_data + 'newyork_price_jan_april.csv')
date = df['DateTime'].apply(lambda x: x[:10])
time = df['DateTime'].apply(lambda x: x[11:16])
df['date'] = date
df['time'] = time
df['price'] = df['realtime_lbmp (avg) (nyiso)'] / 1000
columns = ['date', 'time', 'price']
df = df[columns]
df.head()

         date   time     price
0  2019-01-01  00:00  0.003384
1  2019-01-01  00:05  0.006766
2  2019-01-01  00:10  0.006721
3  2019-01-01  00:15  0.029613
4  2019-01-01  00:19  0.028865

In [27]:
current_dt_min = 5

In [37]:
%%time
df_new = []
for i in range(len(df)):
    row = df.iloc[i]
    t_str = row['time']
    t_min = t_str_to_t_min(t_str)
    new_rows = []
    for j in range(current_dt_min):
        new_t_min = t_min + j
        new_t_str = t_min_to_t_str(new_t_min)
        new_row = row.copy()
        new_row['time'] = new_t_str
        new_rows.append(new_row)
    break

CPU times: user 405 µs, sys: 21 µs, total: 426 µs
Wall time: 430 µs

In [39]:
pd.DataFrame(new_rows, df.columns)

ValueError: Shape of passed values is (5, 3), indices imply (3, 3)

In [19]:
metadata = {'dates': df['date'].unique()}
metadata

{'dates': array(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
        '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
        '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
        '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
        '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
        '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
        '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
        '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01',
        '2019-02-02', '2019-02-03', '2019-02-04', '2019-02-05',
        '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-09',
        '2019-02-10', '2019-02-11', '2019-02-12', '2019-02-13',
        '2019-02-14', '2019-02-15', '2019-02-16', '2019-02-17',
        '2019-02-18', '2019-02-19', '2019-02-20', '2019-02-21',
        '2019-02-22', '2019-02-23', '2019-02-24', '2019-02-25',
        '2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01',
        '2019-03-02', '2019-03-03', '2019-03-04', '2019-03-05',
        '2019-03-06', '2019-03-07', '2019-03-08', '2019-03-09',
        '2019-03-10', '2019-03-11', '2019-03-12', '2019-03-13',
        '2019-03-14', '2019-03-15', '2019-03-16', '2019-03-17',
        '2019-03-18', '2019-03-19', '2019-03-20', '2019-03-21',
        '2019-03-22', '2019-03-23', '2019-03-24', '2019-03-25',
        '2019-03-26', '2019-03-27', '2019-03-28', '2019-03-29',
        '2019-03-30', '2019-03-31'], dtype=object)}

In [14]:
df.to_csv(path_to_data + 'price.csv', index=None)